* {margin:0; padding:0; box-sizing: border-box;}
.swiper {
    width:100%; height:1000px;
}
.swiper .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
  }

  .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
  }
.swiper .s1 {
    background-image: url(../img/img1.jpg);
}
.swiper .s2 {
    background-image: url(../img/img2.jpg);
}
.swiper .s3 {
    background-image: url(../img/img3.jpg);
}
